# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# test output
/coverage/
/playwright-report/
/test-results/

# local environment files
.env
.env.*
!.env.example

# vercel
.vercel

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
